.createForm {
  width: 100%;
  max-width: var(--max-paragraph-width);
  margin-inline: auto;

  > form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // Fullscreen - top padding - bottom - padding
    min-height: var(--fullscreen-height);
  }
}

.successPage {
  width: 100%;
  max-width: var(--max-paragraph-width);
  margin-inline: auto;
  min-height: var(--fullscreen-height);
  justify-content: center;
  align-items: center;

  .btns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--sm);
    justify-content: center;
  }
}

.editPrivatePage {
  min-height: var(--fullscreen-height);

  > form {
    max-width: var(--max-paragraph-width);
    margin-inline: auto;
    width: 100%;
    gap: var(--sm);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .btns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--sm);
    justify-content: space-between;
  }
}

.deleteTextLink {
  cursor: pointer;
  display: block;
  background: none;
  border: none;
  text-decoration: underline;
  color: var(--danger) !important;
  padding: 0;
  margin: 0;
  text-align: left;
  width: fit-content;
  font-size: var(--fs-sm);
}
