.contactCTA {
  padding: 0;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 900px) {
    flex-direction: row;
    min-height: 400px;
  }

  @media screen and (min-width: 1200px) {
    min-height: 540px;
  }

  &__img {
    min-height: 270px;
    position: relative;

    @media screen and (min-width: 900px) {
      width: 50%;
    }

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__texts {
    padding: 75px var(--sct-horiz-margin);
    min-height: 270px;
    display: flex;
    flex-direction: column;
    gap: var(--padding);
    justify-content: center;
    max-width: 800px;
    margin-inline: auto;

    @media screen and (min-width: 900px) {
      width: 50%;
    }
  }
}
