.hero {
  height: 50vh;
  height: 50svh;
  min-height: calc(300px + var(--navbar-height));
  max-height: calc(400px + var(--navbar-height));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  word-break: break-word;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--padding);

  padding: 0 var(--sct-horiz-margin);

  &__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: var(--black);
    z-index: 1;
  }

  > .hero__content {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
    width: 100%;
    max-width: 900px;
    padding: 50px 0;
    padding-top: var(--navbar-height);
    z-index: 2;

    > .btns {
      display: flex;
      flex-direction: row;
      gap: var(--padding);
      margin-top: 30px;
      flex-wrap: wrap;

      > a {
        min-width: fit-content;
      }
    }

    > p,
    > h1 {
      margin: 0;
      text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    > h1 > br {
      display: none;

      @media screen and (min-width: 600px) {
        display: block;
      }
    }

    > p {
      text-transform: uppercase;
    }
  }

  &__home {
    position: relative;
    height: 80vh;
    height: 80svh;
    min-height: 700px;
    max-height: calc(800px + var(--navbar-height));

    @media screen and (min-width: 1200px) {
      max-height: 900px;
    }

    > .hero__content {
      align-items: flex-start;
      text-align: left;

      > p {
        text-transform: none;
        font-size: 20px;
      }
    }
  }

  > .badge {
    position: absolute;
    z-index: 2;
    right: var(--sct-horiz-margin);
    bottom: var(--sct-horiz-margin);
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;

    &:hover {
      color: var(--white);
      transform: translateY(-2px);
    }

    > p {
      margin: 0;
      text-transform: uppercase;
      font-size: 10px;
    }

    > img {
      background: var(--white);
      box-shadow: var(--shadow-hover);
      width: 60px;
      height: 60px;
      border-radius: 100%;
      padding: 10px;

      @media screen and (min-width: 900px) {
        width: 80px;
        height: 80px;
      }

      @media screen and (min-width: 1200px) {
        width: 100px;
        height: 100px;
      }
    }
  }
}
