.rankings {
  background: var(--excr-white);
  box-shadow: var(--excr-shadow-hover);
  border-radius: 20px;
  width: 100%;
  border-collapse: collapse;

  @media screen and (min-width: 1200px) {
    width: calc(100% - 360px - var(--excr-gap));
  }

  > thead {
    background: var(--excr-primary);
    color: var(--excr-white);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding: var(--excr-margin) var(--excr-padding);
    display: flex;
    border-radius: 20px 20px 0px 0px;

    > tr {
      width: 100%;
    }

    .name {
      width: 100%;
      text-align: left;
      padding-left: calc(20px + 50px); // PP width + gap
    }
  }

  > tbody {
    padding: var(--excr-padding);
    display: flex;
    flex-direction: column;
    gap: var(--excr-padding);

    > tr {
      padding-block: var(--excr-padding);

      border-bottom: 1px solid var(--excr-black);

      &:last-of-type {
        border: none;
      }

      > td {
        &.hcp {
          min-width: 30px;
          text-align: right;
        }
        &.score {
          min-width: 42px;
          text-align: right;
        }
      }
    }
  }

  tr {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }

  .profile {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    > span {
      color: var(--excr-dark-grey);
    }

    > img {
      border-radius: 10px;
      object-fit: cover;
    }
  }
}

.card {
  box-shadow: var(--excr-shadow-hover);
  background: var(--excr-white);
  border-radius: 20px;
  width: 100%;
  max-width: var(--excr-max-block-width);

  @media screen and (min-width: 900px) {
    max-width: calc((100% - var(--excr-margin)) / 2);
  }

  @media screen and (min-width: 1200px) {
    max-width: calc((100% - var(--excr-margin) * 2) / 3);
  }

  > .head {
    background: var(--excr-primary);
    color: var(--excr-white);
    border-radius: 20px 20px 0px 0px;
    padding: 20px var(--excr-padding);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    > img {
      width: 100%;
      max-width: 400px;
      height: auto;
      margin-bottom: var(--excr-padding);
    }

    > h5 {
      font-family: var(--excr-roboto-font);
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.08em;
    }

    > h3 {
      font-size: 24px;
    }

    > p {
      margin: 0;
    }
  }

  > .prices {
    padding-inline: var(--excr-padding);
    display: flex;
    flex-direction: row;
    gap: var(--excr-padding);
    padding-top: var(--excr-margin);
    width: 100%;
    justify-content: center;

    > .price {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc((100% - 2 * var(--excr-padding)) / 3);

      > img {
        object-fit: contain;
        max-width: 100%;
      }

      &:nth-of-type(1) {
        order: 2;
      }

      &:nth-of-type(2) {
        order: 1;
        padding-top: 20px;
      }

      &:nth-of-type(3) {
        padding-top: 20px;
        order: 3;
      }
    }
  }

  > .rankings {
    background: none;
    box-shadow: none;
    width: 100%;

    > thead {
      color: var(--excr-black);
      background: none;
      border-bottom: 1px solid var(--excr-black);
      margin-inline: var(--excr-padding);
      padding-inline: 0;
    }
  }
}
