.home {
  section {
    display: flex;
    flex-direction: column;
    gap: var(--excr-gap);

    &.ourChallenges {
      justify-content: center;
      text-align: center;
    }

    &.ourChallenges {
      background: var(--excr-grey);
      align-items: center;

      > .challenges {
        display: flex;
        flex-direction: column;
        gap: var(--excr-margin);
        align-items: center;
        justify-content: center;
        width: 100%;

        @media screen and (min-width: 900px) {
          flex-direction: row;
          flex-wrap: wrap;
        }

        @media screen and (min-width: 1600px) {
          max-width: var(--excr-max-large-container-width);
          margin-inline: auto;
        }
      }
    }

    > .titles {
      width: 100%;
      max-width: var(--excr-max-block-width);
      display: flex;
      flex-direction: column;
      gap: var(--excr-padding);
    }
  }
}
