.btn {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 24px; // TBC
  width: fit-content;
  height: fit-content !important;
  border: none;
  outline: 1px solid var(--accent);
  min-width: 150px;

  font-size: var(--fs-p);
  transition: all 0.3s ease-in-out;

  background: var(--accent);
  color: var(--black) !important;

  border-radius: 1000px;

  &:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    transform: translateY(-1px);
    box-shadow: var(--shadow-hover);
  }

  &:active {
    outline-color: var(--black);
    box-shadow: inset var(--shadow-clicked);
    transition: all 0s;
  }

  // Types

  &.outline {
    background: transparent;

    &.darkBg {
      color: var(--white) !important;
    }

    &:hover {
      border-color: var(--primary);
    }
    &:active {
      border-color: var(--white);
      color: var(--white) !important;
      background: var(--primary);
    }
  }

  &.small {
    min-width: auto;

    padding: 8px 24px;
    font-size: var(--fs-sm);
  }
}

.return {
  display: flex;
  align-items: center;
  background-color: var(--accent);
  border: none;
  height: 32px;
  width: 32px;
  border-radius: 100px;
  justify-content: center;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
