.btn {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  width: fit-content;
  height: fit-content;
  border: none;
  outline: 2px solid transparent;

  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;

  background: var(--wgc-gradient);
  color: var(--wgc-white) !important;

  border-radius: 10px;

  box-shadow: var(--wgc-shadow-hover);

  &:hover {
    cursor: pointer;
    outline: 2px solid var(--wgc-white);
    // background: var(--wgc-white);
    // color: var(--wgc-primary) !important;
    transition: all 0.3s ease-in-out;
    transform: translateY(-1px);
    box-shadow: var(--wgc-shadow-hover);
  }

  &:active {
    outline: solid 2px var(--wgc-white);
    background: var(--wgc-primary);
    box-shadow: var(--wgc-shadow-clicked);
    color: var(--wgc-white);
    transition: all 0s;
  }

  // Types

  &Wgc {
    border-color: var(--wgc-wgc-color);
    color: var(--wgc-white);
    background: var(--wgc-wgc-color);

    &:hover {
      background: var(--wgc-white);
      color: var(--wgc-wgc-color);

      border-color: var(--wgc-wgc-color);
    }

    &:active {
      border-color: var(--wgc-white);
      background: var(--wgc-white);
      color: var(--wgc-wgc-color);
    }
  }

  &.white {
    background: var(--wgc-white);
    color: var(--wgc-primary) !important;

    &:hover {
      border-color: var(--wgc-primary);
    }
    &:active {
      border-color: var(--wgc-white);
      color: var(--wgc-white) !important;
      background: var(--wgc-primary);
    }
  }

  &.small {
    padding: 5px var(--wgc-margin);
    text-transform: none;
    font-weight: 500;
    font-size: var(--wgc-fs-sm);
    box-shadow: none;
  }
}
