.cta {
  position: relative;
  border-radius: var(--md);
  overflow: hidden;
  color: var(--white);
  padding: var(--md) var(--sm);
  height: 300px;
  gap: var(--md);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  @media screen and (min-width: 1200px) {
    height: 360px;
    max-width: var(--max-block-width);
  }

  > img {
    z-index: 0;
    object-fit: cover;
  }

  > .overlay {
    z-index: 1;
    border-radius: 10px;
    background: rgba(var(--primary-rgb), 0.5);
    background: linear-gradient(
      180deg,
      rgba(var(--primary-rgb), 1) 0%,
      rgba(var(--primary-rgb), 0.33) 40%,
      rgba(var(--primary-rgb), 0) 60%,
      rgba(var(--primary-rgb), 0.5) 100%
    );
    position: absolute;
    inset: 0;
  }

  > .texts,
  > a {
    z-index: 2;
    position: relative;
  }

  > .texts {
    display: flex;
    flex-direction: column;
    gap: var(--xs);

    h2 {
      margin: 0;
    }

    p {
      max-width: 320px;
      opacity: 1;

      @media screen and (min-width: 900px) {
        max-width: 420px;
      }
    }
  }
}

.richCTA {
  padding-inline: var(--sct-horiz-margin);
  color: var(--white);

  > .container {
    width: 100%;
    max-width: 1004px;

    margin-inline: auto;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;

    border-radius: 24px;
    overflow: hidden;
    border: 2px solid var(--white);

    background:
      linear-gradient(
        94deg,
        rgba(var(--primary-rgb), 0.2) 50.44%,
        rgba(var(--accent-rgb), 0.2) 85.59%,
        rgba(var(--primary-rgb), 0.2) 98.7%
      ),
      var(--dark);
    box-shadow:
      -4px 4px 36px 0 rgba(var(--black-rgb), 0.25) inset,
      4px -4px 36px 0 rgba(var(--white-rgb), 0.15) inset;

    @media screen and (min-width: 900px) {
      max-height: 240px;
      flex-direction: row;
    }

    > img {
      height: 240px;
      width: 100%;
      object-fit: cover;

      @media screen and (min-width: 900px) {
        max-width: 360px;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    padding: var(--md);
    gap: var(--sm);

    width: 100%;

    @media screen and (min-width: 600px) {
      min-width: 600px;
    }

    @media screen and (min-width: 900px) {
      padding: var(--lg);
      min-height: 240px;
    }
  }

  .head {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-between;

    gap: var(--sm);

    @media screen and (min-width: 600px) {
      flex-direction: row;
      align-items: center;

      flex-wrap: nowrap;
    }

    > h2 {
      background: var(--gradient-accent);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    > img {
      height: 100%;
      width: auto;

      max-height: 40px;
      object-fit: contain;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    gap: var(--sm);

    max-width: 600px;
  }

  .foot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--sm);

    @media screen and (min-width: 600px) {
      flex-wrap: nowrap;
    }
  }

  .badge {
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 8px;
    border: 1px solid var(--accent);

    font-family: var(--fontfamily-titles);
    font-weight: 400;
    font-size: var(--fs-h4);
  }
}
