.cta {
  position: relative;
  border-radius: var(--md);
  overflow: hidden;
  color: var(--white);
  padding: var(--md) var(--sm);
  height: 300px;
  gap: var(--md);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  > img {
    z-index: 0;
    object-fit: cover;
  }

  > .overlay {
    z-index: 1;
    border-radius: 10px;
    background: rgba(var(--primary-rgb), 0.5);
    background: linear-gradient(
      180deg,
      rgba(var(--primary-rgb), 1) 0%,
      rgba(var(--primary-rgb), 0.33) 40%,
      rgba(var(--primary-rgb), 0) 60%,
      rgba(var(--primary-rgb), 0.5) 100%
    );
    position: absolute;
    inset: 0;
  }

  > .texts,
  > a {
    z-index: 2;
    position: relative;
  }

  > .texts {
    display: flex;
    flex-direction: column;
    gap: var(--xs);

    h2 {
      margin: 0;
    }

    p {
      max-width: 320px;
      opacity: 1;
    }
  }
}
