.footer {
  background: var(--wgc-white);

  .container {
    width: 100%;
    max-width: var(--wgc-max-container-width);
    margin-inline: auto;
    padding-inline: var(--wgc-sct-horiz-margin);
    padding-block: var(--wgc-sct-vert-margin) var(--wgc-subsct-vert-margin);
    display: flex;
    flex-direction: column;
    gap: var(--wgc-gap);
    color: var(--wgc-black);

    .userLinks > a:last-of-type {
      color: var(--wgc-danger);
    }

    img {
      object-fit: contain;
    }

    .socials {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }

    > .body {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      gap: var(--wgc-gap);
      flex-wrap: wrap;

      @media screen and (min-width: 900px) {
        flex-wrap: nowrap;
        justify-content: space-between;
      }

      > .col {
        width: 100%;
        max-width: 200px;
        display: flex;
        flex-direction: column;
        gap: var(--wgc-padding);
        text-align: center;

        @media screen and (min-width: 480px) {
          text-align: left;
        }

        &:first-of-type,
        &:last-of-type {
          align-items: center;
          min-width: 100%;

          @media screen and (min-width: 900px) {
            align-items: center;
            min-width: auto;
          }
        }

        @media screen and (min-width: 900px) {
          width: 100%;
          max-width: 200px;
        }
      }
    }

    > .foot {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      gap: var(--wgc-padding);
      flex-wrap: wrap;

      a {
        color: var(--wgc-primary) !important;

        &:hover {
          color: inherit;
          text-decoration: underline;
        }
      }
    }

    > .spacer {
      background: var(--wgc-gradient);
      height: 2px;
      display: block;
      border-radius: 100%;
    }
  }

  &Sponsored {
    background-color: var(--wgc-primary);
    color: var(--wgc-white);
    display: flex;
    padding: 20px var(--wgc-sct-horiz-margin);
    padding-bottom: calc(20px + 50px);
    align-items: center;
    justify-content: center;
    text-align: center;

    @media screen and (min-width: 900px) {
      padding-bottom: 20px;
    }

    > a {
      color: var(--white) !important;
    }

    > a:hover {
      color: inherit;
      text-decoration: underline;
    }
  }
}
