.footer {
  color: var(--white);
  background: var(--black);
  border-top-left-radius: var(--md);
  border-top-right-radius: var(--md);

  .container {
    width: 100%;
    max-width: var(--max-container-width);
    margin-inline: auto;
    padding: var(--sct-def-margins);
    display: flex;
    flex-direction: column;
    gap: var(--lg);

    a {
      color: var(--white);
      font-size: var(--fs-h2);
      font-family: var(--fontfamily-titles);
      font-weight: 600;
      line-height: normal;
    }

    h4 {
      color: var(--accent);
    }

    > .body {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: var(--lg);

      @media screen and (min-width: 900px) {
        flex-wrap: nowrap;
        justify-content: space-between;
      }

      > .col {
        width: 100%;
        max-width: 250px;
        display: flex;
        flex-direction: column;
        gap: var(--xs);

        @media screen and (min-width: 900px) {
          width: 100%;
          max-width: 200px;
        }
      }

      .socials {
        display: flex;
        flex-direction: row;
        gap: 10px;

        > a {
          width: 24px;
          height: 24px;
          text-align: center;
        }

        img {
          filter: invert(1);
        }
      }
    }

    > .foot {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      font-size: var(--fs-s);

      a {
        font-weight: inherit;
        font-family: inherit;

        font-size: var(--fs-s);
        &:hover {
          color: inherit;
          text-decoration: underline;
        }
      }
    }
  }
}
