.selectGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: var(--white);
  gap: var(--xs);
  align-items: center;

  > select {
    background-color: var(--accent);
    border: none;
    color: var(--black);
    padding: 2px var(--sm);
    border-radius: 1000px;
  }
}
