.menu {
  position: fixed;
  top: 0px;
  z-index: 10;
  width: 100%;
  transition: all 0.3s ease-in-out;
  background: var(--black);
  border-bottom-right-radius: var(--md);
  border-bottom-left-radius: var(--md);
  // box-shadow: var(--shadow-hover);

  &__hidden {
    top: calc(var(--navbar-height) * -1);
    transition: all 0.3s ease-in-out;
  }

  > .mainMenu {
    width: 100%;
    height: var(--navbar-height);

    display: flex;

    padding: var(--sm);

    transition: all 0.3s ease-in-out;

    > .mainMenu__container {
      width: 100%;
      max-width: var(--max-large-container-width);
      margin: 0 auto;

      display: flex;
      flex-direction: row;

      align-items: center;
      justify-content: space-between;
    }
  }
}

.profile {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--white);
  border-radius: 1000px;

  img {
    border-radius: 1000px;
  }

  &.notLogged img {
    filter: invert(1);
  }
}

.logo {
  display: flex;
  width: fit-content;
  height: 100%;
  max-height: 40px;
  align-items: center;

  > h4 {
    color: var(--white);
  }

  > img {
    height: 100%;
    width: auto;
  }
}

.open {
  background-color: var(--white);

  a > h4 {
    color: var(--black);
  }
}

@keyframes fadeIn {
  0% {
    // transform: translateY(-500px);
    opacity: 0;
  }

  100% {
    //transform: translateY(0px);
    opacity: 1;
  }
}

.userMenu {
  display: flex;
  flex-direction: column;
  gap: var(--xs);
  width: 100%;
  align-items: center;
  color: var(--white);

  img {
    border-radius: 1000px;
  }

  > h2 {
  }

  > small {
    opacity: 0.7;
  }
}
