.mobileMenu {
  z-index: 10;
  padding: 30px var(--excr-margin);
  background: var(--excr-grey);
  height: calc(100vh - var(--excr-navbar-height));
  height: calc(100svh - var(--excr-navbar-height));
  position: fixed;
  top: var(--excr-navbar-height);
  scrollbar-width: none;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }

  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 30px;

  &__open {
    left: 0px;
    transition: left 0.3s ease-in-out;
  }

  &__closed {
    left: 100%;
    transition: left 0.3s ease-in-out;
  }

  &__links {
    display: flex;
    flex-direction: column;

    > a {
      padding: 18px 0px;
      border-bottom: 1px solid var(--excr-white);
      font-size: var(--excr-fs-h5);
      letter-spacing: 0.08em;
      text-align: left;
      color: var(--excr-primary);
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  &__contactInfos {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__elt > h5 {
      color: var(--excr-primary);
    }
  }

  &__socials {
    border-top: 1px solid rgba(250, 250, 250, 0.5);
    display: flex;
    flex-direction: row;
    font-size: 30px;
    gap: 30px;
    padding: 20px 0;
    > a {
      color: var(--excr-primary);
    }
  }
}

.mobileSubMenu {
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--excr-black);
  width: 100%;
  height: 100vh;
  height: 100svh;

  &__open {
    left: 0px;
    transition: left 0.3s ease-in-out;
  }

  &__closed {
    left: 100%;
    transition: left 0.3s ease-in-out;
  }

  &__top {
    height: var(--excr-navbar-height);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px var(--excr-sct-horiz-margin);

    > button[type='button'] {
      background: none;
      border: none;
      font-size: var(--excr-fs-h5);
      letter-spacing: 0.08em;
      color: var(--excr-white);
      transition: color 0.3s ease-in-out;

      &:hover {
        transition: color 0.3s ease-in-out;
        color: var(--excr-primary-dark);
        cursor: pointer;
      }

      &::before {
        content: '◂ ';
        color: var(--excr-primary);
      }
    }
  }

  &__body {
    height: 100%;

    > a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: calc((100% - var(--excr-navbar-height)) / 3);
      background-size: cover;
      background-position: center;
      position: relative;

      > h5 {
        z-index: 2;
      }
    }
  }
}

.overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
