* {
  --white: #fafafa;
  --grey: #eeecec;
  --dark-grey: #797979;
  --black: #050505;

  --primary: #252c32;
  --wgc-color: #488f4b;

  --secondary: #000000;

  --accent: #000000;

  --danger: #d33232;
  --warning: #d38932;
  --info: #327cd3;
  --success: #23ad29;

  --shadow-hover: 3px 3px 8px 0px rgba(0, 0, 0, 0.25);
  --shadow-clicked: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  --shadow-img: 0px 36px 20px -20px rgba(62, 85, 65, 0.25);
  --shadow-card: 0px 12px 16px -20px rgba(62, 85, 65, 0.15);
  --shadow-card-sm: 0px 4px 12px 0px rgba(51, 67, 54, 0.1);

  --fs-h1: 32px;
  --fs-h2: 28px;
  --fs-h3: 25px;
  --fs-h4: 21px;
  --fs-h5: 18px;
  --fs-h6: 14px;
  --fs-p: 16px;
  --fs-sm: 12px;

  --margin: 20px;
  --padding: 10px;
  --gap: 50px;

  --sct-vert-margin: 75px;
  --subsct-vert-margin: 75px; // not used
  --sct-horiz-margin: 15px;

  --navbar-height: 90px;

  --max-block-width: 100%;
  --max-container-width: 1200px;
  --max-card-width: 400px;

  --large-content-width: 100%;
  --xl-content-width: 1600px;
}

@media screen and (min-width: 992px) {
  * {
    --fs-h1: 120px;
    --fs-h2: 80px;
    --fs-h2-caps: 100px;
    --fs-h3: 46px;
    --fs-h4: 32px;
    --fs-h5: 24px;
    --fs-h6: 16px;
    --fs-p: 18px;
    --fs-sm: 14px;

    --margin: 20px;
    --padding: 15px;
    --title-surtitle-space: 15px;
    --title-text-space: 30px;
    --vert-spacing: 75px;

    --sct-vert-margin: 150px;
    --sct-horiz-margin: 70px;

    --navbar-height: 140px;
    --max-block-width: 1200px;

    --large-content-width: 1200px;
  }
}
