.login {
  min-height: var(--fullscreen-height);
  justify-content: space-between;

  form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--sm);
    align-items: center;

    max-width: var(--max-block-width);
    width: 100%;
    margin-inline: auto;
  }
}

.register {
  > form {
    min-height: var(--fullscreen-height);
    justify-content: space-between;
    display: flex;
    flex-direction: column;

    max-width: var(--max-block-width);
    width: 100%;
    margin-inline: auto;
  }
}

.success {
  min-height: var(--fullscreen-height);
  justify-content: space-between;
  padding-inline: 0px !important;
  gap: var(--md);
  position: relative;
  overflow-x: hidden;

  .titles {
    padding-inline: var(--sct-horiz-margin);
    // background-color: var(--white);
    // -webkit-box-shadow: 0px 0px 20px 20px var(--white);
    // box-shadow: 0px 0px 20px 20px var(--white);
  }

  .btns {
    padding-inline: var(--sct-horiz-margin);
    gap: var(--sm);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .confirmation {
    position: absolute;
    z-index: 1;
    inset: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    min-height: var(--fullscreen-height);

    .titles {
      max-width: var(--max-paragraph-width);
      margin-inline: auto;
      z-index: 2;

      @media screen and (min-width: 900px) {
        text-align: center;
        justify-content: center;
      }
    }

    &.hide {
      left: -100vw;
      transition: all 0.3s ease-in-out;
    }
  }
  .howToPlay {
    display: flex;
    flex-direction: column;
    gap: var(--md);
    justify-content: center;

    min-height: var(--fullscreen-height);

    transform: translateX(100vw);
  }

  .hide + .howToPlay {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }
}

.profilePicture {
  width: 240px;
  aspect-ratio: 1;
  background-color: var(--true-white);
  margin-inline: auto;
  border: solid 1px var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;

  > input {
    display: none;
  }
}

.deleteTextLink {
  cursor: pointer;
  display: block;
  background: none;
  border: none;
  text-decoration: underline;
  color: var(--danger) !important;
  padding: 0;
  margin: 0;
  text-align: left;
  width: fit-content;
  font-size: var(--fs-sm);
}

.gearModal {
  display: flex;
  flex-direction: column;
  gap: var(--sm);

  .btns {
    display: flex;
    flex-direction: row;
    gap: var(--sm);
    justify-content: flex-end;
  }
}

.bag {
  display: flex;
  flex-direction: column;
  gap: var(--sm);
  width: 100%;
}

.animation {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  opacity: 0.7;
  position: fixed;
  // width: 100%;
  height: 100vh;
  width: auto;
  object-fit: cover;
}
