.profilePage {
  gap: var(--md);

  section {
    gap: var(--xs);

    h6 {
      margin-left: var(--md);
    }
  }

  .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--xs);

    > small {
      opacity: 0.7;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 6px;

      > span {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }

    > label {
      cursor: pointer;
      position: relative;

      > span {
        width: var(--md);
        height: var(--md);
        position: absolute;
        right: 0;
        bottom: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: var(--accent);
        border-radius: 3px;
        overflow: hidden;
      }

      > img {
        border-radius: 1000px;
      }
      > input {
        display: none;
      }
    }
  }
}

.statBar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--xs);

  > h6 {
    width: calc(100% - var(--md));
  }
  > ul {
    width: 100%;
    display: flex;
    gap: var(--sm);
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--black);
    color: var(--white);
    padding: var(--sm);

    border-radius: var(--sm);
    justify-content: space-between;

    text-align: center;

    > li {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--xs);
      width: 100%;

      > img {
        border-radius: 3px;
        object-fit: cover;
      }

      > small {
        font-size: var(--fs-xs);
        color: var(--accent);
      }

      > span {
        font-family: var(--fontfamily-titles);
        margin: 0;
        font-weight: 700;
        font-size: var(--fs-h3);
      }
    }
  }

  &.bag {
  }
}

.editProfilePage {
  form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--sm);
  }

  .btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: var(--sm);
    justify-content: space-between;
  }
}

.editGearPage {
  min-height: 600px;
  .bag {
    display: flex;
    flex-direction: column;
    gap: var(--sm);
  }
  .modal {
    // min-height: 500px;

    form {
      display: flex;
      flex-direction: column;
      gap: var(--sm);
    }

    .btns {
      display: flex;
      flex-direction: row;
      gap: var(--sm);
      justify-content: flex-end;
    }

    .deleteTextLink {
      cursor: pointer;
      display: block;
      background: none;
      border: none;
      text-decoration: underline;
      color: var(--danger);
      padding: 0;
      margin: 0;
      text-align: left;
      width: fit-content;
      font-size: var(--fs-sm);
    }
  }
}
