.profilePage {
  gap: var(--md);

  width: 100%;
  max-width: var(--max-paragraph-width);
  margin-inline: auto;

  section {
    gap: var(--xs);

    h6 {
      margin-left: var(--md);
    }
  }

  .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--xs);

    > small {
      opacity: 0.7;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 6px;

      > span {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }

    > label {
      cursor: pointer;
      position: relative;

      > span {
        width: var(--md);
        height: var(--md);
        position: absolute;
        right: 0;
        bottom: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: var(--accent);
        border-radius: 3px;
        overflow: hidden;
      }

      > img {
        border-radius: 1000px;
      }
      > input {
        display: none;
      }
    }
  }

  .danger {
    color: var(--danger) !important;
  }
}

.editProfilePage {
  width: 100%;
  max-width: var(--max-paragraph-width);
  margin-inline: auto;

  form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--sm);
  }

  .btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: var(--sm);
    justify-content: space-between;
  }
}

.editGearPage {
  width: 100%;
  max-width: var(--max-paragraph-width);
  margin-inline: auto;
  min-height: var(--fullscreen-height);

  .bag {
    display: flex;
    flex-direction: column;
    gap: var(--sm);
  }
  .modal {
    // min-height: 500px;

    form {
      display: flex;
      flex-direction: column;
      gap: var(--sm);
    }

    .btns {
      display: flex;
      flex-direction: row;
      gap: var(--sm);
      justify-content: flex-end;
    }

    .deleteTextLink {
      cursor: pointer;
      display: block;
      background: none;
      border: none;
      text-decoration: underline;
      color: var(--danger);
      padding: 0;
      margin: 0;
      text-align: left;
      width: fit-content;
      font-size: var(--fs-sm);
    }
  }
}

.historyPage {
  width: 100%;
  max-width: var(--max-paragraph-width);
  margin-inline: auto;
  min-height: var(--fullscreen-height);
}
