.walletPage {
  width: 100%;
  max-width: var(--max-paragraph-width);
  margin-inline: auto;
}

.walletSct {
  display: flex;
  flex-direction: column;
  gap: var(--md);

  .btns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--sm);
  }
}

.wallet {
  background-color: var(--black);
  display: flex;
  padding: var(--md);
  border-radius: var(--sm);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 120px;

  > small {
    color: var(--accent);
    position: absolute;
    top: var(--sm);
  }

  > h2 {
    color: var(--white);
  }
}

.modal {
  form {
    display: flex;
    flex-direction: column;
    gap: var(--sm);
  }

  button {
    margin-top: var(--md);
    width: 100%;
  }

  &.deposit form {
    gap: var(--md);

    small,
    p {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    p {
      font-family: var(--fontfamily-titles);
      font-size: var(--fs-h3);
      font-weight: 700;
    }
  }

  &.withdraw {
  }
}
