.challengesPage {
  gap: var(--md);
  padding-inline: 0 !important;
  padding-top: var(--navbar-height) !important;
  overflow: hidden;
  width: 100%;
  min-height: var(--fullscreen-height);
  position: relative;

  max-width: var(--max-container-width);
  margin-inline: auto;

  @media screen and (min-width: 1200px) {
    padding-top: var(--lg) !important;
  }

  section {
    gap: var(--lg);
    padding-inline: var(--sct-horiz-margin);
    // navbar height + toggle height + gap
    top: calc(var(--navbar-height) + var(--lg) + var(--lg));

    @media screen and (min-width: 1200px) {
      // p-top + toggle h + border * 2 + gap
      top: calc(var(--lg) + var(--lg) + 2px * 2 + var(--md));
    }

    transition: transform 0.3s ease-in-out;
    position: absolute;

    &.challenges {
      transform: translateX(-100vw);
    }

    &.private {
      transform: translateX(100vw);
    }

    &.show {
      top: 0;
      transition: transform 0.3s ease-in-out;
      position: relative;
      transform: translateX(0);
    }
  }

  .challengesList {
    display: flex;
    flex-direction: column;
    gap: var(--sm);
    align-items: center;

    @media screen and (min-width: 1200px) {
      flex-direction: row;
      flex-wrap: wrap;

      > h3,
      > p {
        width: 100%;
      }

      > p {
        margin-bottom: var(--sm);
      }
    }
  }
}

.toggleBtns {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--true-white);
  margin-top: calc(var(--md) * -1);

  @media screen and (min-width: 1200px) {
    margin-top: 0;
    border: 2px solid var(--true-white);
    border-radius: var(--sm);
    overflow: hidden;
  }

  > label {
    width: 50%;
    cursor: pointer;

    > input {
      display: none;
    }

    > span {
      width: 100%;
      display: flex;
      height: calc(var(--lg) + var(--md));
      padding-top: var(--md);
      align-items: center;
      justify-content: center;
      color: rgba(var(--black-rgb), 0.7);
      transition: all 0.3s ease-in-out;

      font-size: var(--fs-sm);

      @media screen and (min-width: 1200px) {
        height: var(--lg);
        padding-top: 0;
        border-radius: var(--sm);
      }
    }

    > input:checked + span {
      background: var(--accent);
      color: var(--black);
      transition: all 0.3s ease-in-out;
    }
  }
}
