.ctaSct {
  gap: var(--md);
  padding: var(--sct-def-margins);
}

.clubhouse {
  background-color: var(--white);
  border-radius: var(--md);
  padding: var(--sct-def-margins);
}

.logoSct {
  position: relative;
  width: 100%;
  min-height: 100px;
  margin-bottom: var(--lg);

  > img {
    width: 100%;
    padding-inline: var(--sct-horiz-margin);
  }
}
