.ctaSct {
  gap: var(--md);
  padding: var(--sct-def-margins);
}

.clubhouse {
  background-color: var(--white);
  border-radius: var(--md);
  padding: var(--sct-def-margins) !important;
}

.logoSct {
  position: relative;
  width: 100%;
  min-height: 100px;
  margin-bottom: var(--lg);

  > img {
    width: 100%;
    padding-inline: var(--sct-horiz-margin);
  }
}

.heroBtns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: var(--md);
  gap: var(--sm);
}

.userStatBar {
  margin-top: var(--sm);
  width: 100%;
}
