.intro {
  background-color: var(--color-primary);
  background-image: url('/layouts/img/hero-section.jpg');
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;

  &Gradient {
    background: rgb(59, 115, 62);
    background: -moz-linear-gradient(90deg, rgba(59, 115, 62, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(59, 115, 62, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(90deg, rgba(59, 115, 62, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3b733e",endColorstr="#000000",GradientType=1);
  }

  .container {
    padding-top: 120px;
    padding-bottom: 180px;

    @media (min-width: 1200px) {
      padding-top: 170px;
      padding-bottom: 230px;
    }
  }

  h1,
  p {
    color: var(--color-white);
  }

  h1 {
    max-width: 800px;
  }

  p {
    max-width: 560px;
  }
}
