.landingPage {
  padding-block: var(--lg);
  padding-inline: 0;

  @media screen and (min-width: 900px) {
    padding-block: var(--xl);
  }

  .hero {
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--lg);
    padding-inline: var(--sct-horiz-margin);

    @media screen and (min-width: 900px) {
      flex-direction: row;
      align-items: normal;
    }

    .content {
      width: 100%;
      max-width: 600px;
      display: flex;
      flex-direction: column;
      gap: var(--lg);

      > img {
        height: 100%;
        max-width: 210px;
        max-height: 60px;
        object-fit: contain;
      }

      .titles {
        display: flex;
        flex-direction: column;
        gap: var(--md);

        > h1 {
          font-size: 40px;
          max-width: 420px;

          @media screen and (min-width: 1200px) {
            font-size: 60px;
            max-width: 100%;
          }

          > em {
            color: var(--accent);
          }

          > br {
            display: none;

            @media screen and (min-width: 420px) {
              display: inline;
            }
          }
        }

        > p {
          max-width: 420px;
        }
      }

      .btns {
        display: flex;
        flex-direction: row;
        gap: var(--sm);
        flex-wrap: wrap;
        color: var(--white);
        align-items: center;
        > a {
          color: var(--white);
        }
      }
    }

    .deco {
      width: 100%;
      max-width: 400px;

      > video {
        width: 100%;
        max-height: 600px;
      }
    }
  }
}

.backgroundDeco {
  position: fixed;
  height: auto;
  opacity: 0.15;
  top: 30px;
  right: -30vw;
  z-index: -1;

  @media screen and (min-width: 900px) {
    top: 150px;
    right: 30px;
  }
}
