.header {
  padding: var(--sct-def-margins);
  padding-top: calc(var(--navbar-height) + var(--lg));
  display: flex;
  flex-direction: column;
  gap: var(--sm);

  .topBtns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  > img {
    max-width: 100%;
    object-fit: contain;
    border-radius: var(--xs);
    height: auto;
    aspect-ratio: 2;
  }

  .timer {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--grey);
    padding: var(--sm);
    border-radius: var(--sm);
    justify-content: space-between;
  }

  .btns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--sm);
    margin-top: var(--sm);
  }
}

.main {
  padding-top: 0 !important;
  padding-inline: 0 !important;

  > section {
    padding-inline: var(--sct-horiz-margin);
  }

  .leaderboard {
    margin-inline: 0;
    border-radius: var(--md);
  }
}

.rules {
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;
  gap: var(--sm);

  > h3,
  > p {
    width: 100%;
  }

  .rule {
    width: calc((100% - var(--sm)) / 2);
    display: flex;
    flex-direction: column;

    background-color: var(--black);
    color: var(--white);

    padding: 9px 16px;
    border-radius: var(--sm);

    label {
      color: var(--accent);
    }
  }
}

.editBtn {
  width: 32px;
  height: 32px;
  background-color: var(--black);
  border-radius: var(--xs);
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scoreModal {
  form {
    display: flex;
    flex-direction: column;
    gap: var(--lg);

    .btns {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: var(--sm);
      justify-content: space-between;
    }
  }
}
