.results {
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  .titles {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
  }

  .tables {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--padding);
  }
}
