.challengeDesktop {
  display: none;
  border-radius: 20px;
  background-color: var(--wgc-white);
  width: 100%;
  grid-template-columns: var(--grid-template);
  grid-template-rows: 1fr;
  grid-column-gap: var(--wgc-padding);
  align-items: center;
  padding: 10px var(--wgc-padding);

  @media screen and (min-width: 1200px) {
    display: grid;
  }

  .id {
    width: 50px;
  }

  .id,
  .hcp,
  .pool {
    font-weight: 900;
    font-size: var(--wgc-fs-sm);
    font-family: var(--wgc-montserrat-font);
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  .name {
    width: auto;
    min-width: 150px;
  }

  .hcp {
    font-weight: 700;
    width: fit-content;
  }

  .img {
    padding: 0;
  }

  .pool {
    padding: 5px 10px;
    background: var(--wgc-gold);
    border-radius: 10px;
    text-align: center;
    width: fit-content;
  }

  .players {
    text-align: center;
  }

  .dates,
  .gameType {
    font-size: var(--wgc-fs-sm);
  }

  .btn {
    justify-self: end;
  }
}

.challengeMobile {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}
