.challengeDesktop {
  display: none;
  flex-direction: column;
  gap: var(--sm);
  color: var(--white);
  background-color: var(--primary);
  background: var(--gradient-challenge);

  min-width: 420px;
  width: calc((100% - var(--sm) * 2) / 3);
  padding: var(--md);
  border-radius: var(--md);

  @media screen and (min-width: 1200px) {
    display: flex;
  }

  &.yourChallenges {
    width: 100%;
  }

  .editBtn {
    width: fit-content;
    min-width: 0;
    height: auto !important;
    aspect-ratio: 1;
    padding: 8px;

    & + span {
      margin-right: auto;
    }
  }

  .head,
  .body,
  .foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .head {
    align-items: flex-start;
    gap: var(--sm);

    .img {
      width: 100%;
      max-width: 72px;
      height: auto;
      aspect-ratio: 3/2;

      background-color: var(--white);
      border-radius: var(--xs);
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      // padding: 6px;
      color: var(--black);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    > h3 {
      width: 100%;
      color: var(--accent);
    }

    .players {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 3px;
    }
  }

  .subhead {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .hcp {
      padding: 6px 8px;
      outline: solid 1px var(--white);
      border-radius: 1000px;
      font-size: var(--fs-xs);
      flex-shrink: 0;
      line-height: 1em;
      background-color: var(--primary);
    }
  }

  .body {
    background-color: var(--dark);
    padding: var(--sm);
    border-radius: var(--sm);

    font-size: var(--sm);
    line-height: 1.2em;

    b {
      color: var(--accent);
    }
  }

  .foot {
    align-items: flex-end;
    gap: var(--sm);

    > .fee {
      padding: 8px 24px;
      outline: var(--grey) solid 1px;
      border-radius: 1000px;
      text-align: center;

      font-size: var(--fs-sm);
      line-height: 1em;
      height: fit-content;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.challengeMobile {
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  background: var(--gradient-challenge);
  border-radius: var(--sm);
  // overflow: hidden;
  color: var(--white);
  width: 100%;
  max-width: var(--max-block-width);

  transition: all 0.3s ease-in-out;

  &.yourChallenges {
    > summary,
    > .body {
      padding-inline: var(--xs) var(--sm);
    }

    > .body {
      padding-top: 0;
      gap: var(--sm);
    }
  }

  &[open] {
    .arrow {
      transform: rotate(90deg);
      transition: transform 0.3s ease-in-out;
    }
  }

  > summary {
    cursor: pointer;

    padding-block: var(--sm);
    padding-inline: var(--sm) 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--sm);
    list-style-type: none;
    position: relative;

    &::-webkit-details-marker {
      display: none;
    }

    &::marker {
      content: '';
    }

    > .img {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--white);
      color: var(--black);
      border-radius: var(--xs);
      width: 72px;
      height: auto;
      aspect-ratio: 3/2;

      overflow: hidden;
      // border: solid 2px var(--white);

      h5 {
        display: block;
        width: 100%;
        font-size: 12px;
        text-align: center;
        color: var(--black);
      }

      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    > .content {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 6px;

      > .topLine,
      > .bottomLine {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 3px;

        span {
          line-height: 1em;
        }
      }

      > .topLine {
        > .name {
          color: var(--accent);
          font-size: var(--fs-sm);
          font-weight: 600;
          line-height: 1em;
        }
        > .pool {
          font-size: var(--fs-sm);
          background-color: var(--accent);
          color: var(--black);
          padding: 2px 8px;
          border-radius: 100px;
          height: fit-content;
          line-height: normal;
        }
      }
      > .bottomLine {
        font-size: var(--fs-sm);
        flex-wrap: wrap;

        .hcp {
          padding: 4px 8px;
          outline: solid 1px var(--white);
          border-radius: 1000px;
          font-size: var(--fs-xs);
        }

        .timer {
          font-size: var(--fs-xs);
        }

        .players {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 3px;
        }
      }
    }

    > .arrow {
      width: 15px;
      height: 15px;
      color: var(--primary);
      transform: rotate(0deg);
      transition: transform 0.3s ease-in-out;

      display: flex;
      align-items: center;
      justify-content: center;

      path {
        fill: none;
        stroke: var(--accent);
      }
    }
  }

  > .body {
    padding: var(--sm);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    gap: var(--sm);
    position: relative;

    > a:last-of-type {
      margin-left: auto;
    }

    > .stats {
      width: 100%;
      display: flex;
      flex-direction: row;
      background: var(--dark);
      padding: var(--sm);
      border-radius: var(--sm);

      font-size: var(--fs-xs);
      justify-content: space-between;

      span {
        line-height: normal;

        > b {
          color: var(--accent);
          text-transform: capitalize;
        }
      }
    }
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.badge {
  position: absolute;
  background-color: var(--danger);
  width: 24px;
  height: 24px;
  border-radius: 1000px;
  z-index: 1;

  top: calc(var(--sm) * -1 + 6px);
  right: -6px;
}
