.contactCTA {
  height: 400px;
  padding: var(--margin);
  flex-direction: column;
  gap: var(--padding);
  background-size: cover;
  background-position: center;
  justify-content: center;
  // align-items: flex-end;
  position: relative;

  > .container {
    width: 100%;
    max-width: var(--max-container-width);
    margin-inline: auto;
    z-index: 1;

    > a {
      margin-top: var(--padding);
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;

    // Background color : gold-white
    --start-opacity: 0;
    --end-opacity: 0.9;
    --angle: 180deg;
    --start: 0%;
    --end: 60%;

    background: linear-gradient(
      var(--angle),
      hsla(45, 40%, 96%, var(--start-opacity)) var(--start),
      hsla(45, 40%, 96%, var(--end-opacity)) var(--end)
    );
    background: -moz-linear-gradient(
      var(--angle),
      hsla(45, 40%, 96%, var(--start-opacity)) var(--start),
      hsla(45, 40%, 96%, var(--end-opacity)) var(--end)
    );
    background: -webkit-linear-gradient(
      var(--angle),
      hsla(45, 40%, 96%, var(--start-opacity)) var(--start),
      hsla(45, 40%, 96%, var(--end-opacity)) var(--end)
    );
  }
}

@media screen and (min-width: 768px) {
  .contactCTA > .container {
    min-width: 640px;
    // width: 50%;
  }

  .contactCTA__overlay {
    --angle: 0deg;
    --end: 50%;
    --start: 0%;
  }
}

@media screen and (min-width: 992px) {
  .contactCTA__overlay {
    --angle: 0deg;
    --end: 80%;
    --start: 20%;
  }
}
