.faq {
  display: flex;
  flex-direction: column;
  gap: var(--xs);

  width: 100%;
  // max-width: var(--max-block-width);
  margin-inline: auto;

  > details {
    border: solid 1px var(--grey);
    border-radius: var(--md);

    &[open] {
      background-color: var(--black);
      color: var(--white);

      transition: all 0.3s ease-in-out;

      .sign {
        background-color: var(--white);

        > span {
          background-color: var(--primary);
          transition: all 0.3s ease-in-out;

          &:first-of-type {
            transform: rotate(-180deg);
          }

          &:last-of-type {
            transform: rotate(-180deg);
          }
        }
      }
    }

    > summary {
      padding: var(--sm);
      padding-left: var(--md);
      display: flex;
      flex-direction: row;
      gap: var(--sm);
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      &::marker {
        content: '';
      }

      &::-webkit-details-marker {
        display: none;
      }

      > h5 {
        margin: 0;
      }

      > .sign {
        width: 32px;
        height: 32px;
        background-color: var(--primary);
        position: relative;
        border-radius: 1000px;

        > span {
          display: block;
          position: absolute;
          background-color: var(--white);
          width: 14px;
          height: 2px;
          top: calc((100% - 2px) / 2);
          left: calc((100% - 14px) / 2);
          transition: all 0.3s ease-in-out;

          &:first-of-type {
            transform: rotate(90deg);
          }
        }
      }
    }

    > small {
      display: block;
      padding-block: var(--xs) var(--md);
      padding-inline: var(--md);
      opacity: 0.8;
    }
  }
}
