.infobox {
  background-color: #c7f7a6;
  padding: 6px 12px;
  border-radius: 6px;

  width: 100%;

  border: 1px solid rgba(6, 39, 14, 0.25);

  color: rgba(var(--primary-rgb), 0.75);

  font-size: var(--fs-sm);
  line-height: 1.2em;
}
