.leagueTag {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 36px;

  font-size: var(--fs-xs);
  line-height: 100%;
  min-width: 50px;
  white-space: nowrap;

  color: var(--white);
  cursor: help;

  &.dot {
    width: 15px;
    height: 15px;
    min-width: 0px;
  }

  &.span {
    cursor: inherit;
  }

  &.locked {
    color: var(--white) !important;
    background: #808080 !important;
    outline-color: #808080 !important;
    cursor: inherit;
  }
}

.rookie {
  color: var(--dark-green);
  background: #c7f7a6;
  outline-color: #c7f7a6;
}

.weekender {
  color: var(--white);
  background: #002f18;
  outline-color: #002f18;
}

.clubMember {
  background: #072a6c;
  outline-color: #072a6c;
}

.ironSeeker {
  background: #712200;
  outline-color: #712200;
}

.clubChampion {
  background: #472b0a;
  outline-color: #472b0a;
}

.tourProspect {
  background: var(
    --League-TourProspect,
    linear-gradient(102deg, #804a00 8.9%, #895e1a 39.44%, #b08d57 69.98%, #9c7a3c 101.45%)
  );
  outline-color: #b08d57;
}

.tournamentReady {
  color: var(--black);
  background: var(
    --League-TournamenReady,
    linear-gradient(96deg, #a6a7ad 4.75%, #f5f3f2 60.44%, #ddd 116.14%)
  );
  outline-color: #a6a7ad;
}

.clubhouseKing {
  color: var(--black);
  background: var(
    --League-ClubhouseKing,
    linear-gradient(97deg, #997300 5.24%, #d5c453 68.88%, #9d8516 132.52%)
  );
  outline-color: #d5c453;
}

.pgaChampion {
  color: var(--black);
  background: var(
    --League-PGAChampion,
    linear-gradient(97deg, #47dbfa 5.36%, #80ecff 38.83%, #effffe 72.3%, #8af4ff 106.79%)
  );
  outline-color: #47dbfa;
}

.grandmaster {
  color: var(--black);
  background: var(
    --League-Grandmaster,
    linear-gradient(96deg, #c06fe5 4.63%, #cd9bee 34.78%, #f0d7b8 64.93%, #eeb7f4 95.99%)
  );
  outline-color: #c06fe5;
}

.golflegend {
  color: var(--white);
  outline: 1px solid var(--League-GolfLegend, #f70);
  background: #000;
}
