.logoSct {
  position: relative;
  width: 100%;
  min-height: 100px;

  &.marginTop {
    margin-top: var(--sct-vert-margin);
  }

  &.marginBottom {
    margin-bottom: var(--sct-vert-margin);
  }

  > svg {
    width: 100%;
    padding-inline: var(--sct-horiz-margin);
    height: auto;
    max-height: 100px;

    > path {
      fill: var(--white);
    }

    &.lightBg > path {
      fill: var(--dark);
    }
  }
}
