.titles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--sm);
  align-items: center;

  > p {
    width: 100%;
    opacity: 0.7;
  }

  > img {
    width: 100%;
    margin-top: var(--sm);
    border-radius: var(--md);
    object-fit: cover;
  }
}
