.input {
  display: flex;
  flex-direction: column;
  gap: var(--xs);
  width: 100%;
  position: relative;

  &.w50 {
    width: calc((100% - var(--sm)) / 2);
  }

  &.w33 {
    width: calc((100% - var(--sm)) / 3);
  }

  &.w66 {
    width: calc((100% - var(--sm)) / 3 * 2);
  }

  @media screen and (min-width: 900px) {
    &.wt50 {
      width: calc((100% - var(--sm)) / 2);
    }
  }

  &.dark {
    > span {
      color: var(--accent);
    }

    > input,
    > textarea,
    > select {
      outline: 1px transparent solid;
    }
  }

  > span {
    margin-left: var(--sm);
    font-size: var(--fs-xs);
    line-height: 1em;
    color: var(--primary);
  }

  > input,
  > textarea,
  > select {
    font-size: var(--fs-p);
    outline: 1px var(--grey) solid;
    border: none;
    padding: var(--sm);
    border-radius: var(--sm);
    background: var(--true-white);

    &:focus {
      outline-color: var(--accent);
    }
  }

  > input[type='file'] + img {
    position: absolute;
    right: var(--sm);
    bottom: var(--sm);
  }

  > textarea {
    min-height: 150px;
  }

  &.errorInput {
    > input {
      outline-color: var(--danger);
    }

    > span {
      color: var(--danger);
    }
  }

  .errorMsg {
    position: absolute;
    bottom: calc(var(--fs-sm) * -1);
    right: var(--sm);
    text-align: right;
    font-style: italic;
  }
}

.checkbox {
  display: flex;
  flex-direction: row;
  gap: var(--sm);

  padding-block: var(--xs);
}
