.input {
  display: flex;
  flex-direction: column;
  gap: var(--xs);
  width: 100%;

  &.w50 {
    width: calc((100% - var(--sm)) / 2);
  }

  &.w33 {
    width: calc((100% - var(--sm)) / 3);
  }

  &.w66 {
    width: calc((100% - var(--sm)) / 3 * 2);
  }

  &.dark {
    > span {
      color: var(--accent);
    }

    > input,
    > textarea,
    > select {
      outline: 1px transparent solid;
    }
  }

  > span {
    margin-left: var(--sm);
    font-size: var(--fs-xs);
    line-height: 1em;
    color: var(--primary);
  }

  > input,
  > textarea,
  > select {
    font-size: var(--fs-p);
    outline: 1px var(--grey) solid;
    border: none;
    padding: var(--sm);
    border-radius: var(--sm);
    background: var(--true-white);

    &:focus {
      outline-color: var(--accent);
    }
  }

  > textarea {
    min-height: 150px;
  }
}

.checkbox {
  display: flex;
  flex-direction: row;
  gap: var(--sm);

  padding-block: var(--xs);
}
