.section {
  display: flex;
  flex-direction: column;

  .radioBtns {
    display: flex;
    flex-direction: row;
    gap: var(--wgc-padding);
  }
}

.challenges {
  display: flex;
  flex-direction: column;
  gap: var(--wgc-padding);
  --grid-template: 1fr 50px 250px 1fr 60px 1fr 80px 2fr 140px;

  .head {
    font-size: var(--wgc-fs-sm);
    font-weight: 700;
    font-variant: all-small-caps;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-align: left;

    display: grid;
    grid-template-columns: var(--grid-template);
    grid-template-rows: auto;
    grid-column-gap: var(--wgc-padding);
  }

  .body {
    display: flex;
    flex-direction: column;
    gap: var(--wgc-padding);
  }
}

.id {
  width: 50px;
}
.img {
  padding: 0;
}
.name {
  width: auto;
  min-width: 150px;
}
.pool {
  text-align: center;
  width: fit-content;
}
.gameType {
}
.players {
  text-align: center;
}
.dates {
}
.btn {
  justify-self: end;
}
.hcp {
}

.challenge {
  border-radius: 20px;
  background-color: var(--wgc-white);
  width: 100%;
  display: grid;
  grid-template-columns: var(--grid-template);
  grid-template-rows: 1fr;
  grid-column-gap: var(--wgc-padding);
  align-items: center;
  padding: 10px var(--wgc-padding);

  .id {
  }

  .id,
  .hcp,
  .pool {
    font-weight: 900;
    font-size: var(--wgc-fs-sm);
    font-family: var(--wgc-montserrat-font);
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  .hcp {
    font-weight: 700;
    width: fit-content;
  }

  .pool {
    padding: 5px 10px;
    background: var(--wgc-gold);
    border-radius: 10px;
  }

  .dates,
  .gameType {
    font-size: var(--wgc-fs-sm);
  }
}

.private {
  margin-top: var(--wgc-subsct-vert-margin);

  > .cards {
    display: flex;
    flex-direction: row;
    margin-top: var(--wgc-gap);
    gap: var(--wgc-margin);

    > .card {
      background-color: var(--wgc-white);
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: var(--wgc-padding);
      border-radius: 30px;

      > p {
        padding-bottom: var(--wgc-padding);
      }

      > i {
        opacity: 0.5;
      }

      > ul {
        padding: 0;
        margin: 0;

        > li {
          list-style: none;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding-block: 5px;
        }
      }
    }
  }
}
