.section {
  display: flex;
  flex-direction: column;
  padding-top: var(--wgc-subsct-vert-margin) !important;

  .radioBtns {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0;
    justify-content: center;

    > button {
      letter-spacing: 0.05em;
      font-family: var(--wgc-roboto-font);

      &:hover {
        transform: none;
        outline: none;
        // box-shadow: none;
      }

      &:disabled {
        &:active {
          color: initial;
          background: initial;
          box-shadow: none;
        }
      }

      &:first-of-type {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }

      &:last-of-type {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }
    }
  }
}

.challenges {
  display: flex;
  flex-direction: column;
  gap: var(--wgc-padding);
  --grid-template: 1fr 50px 250px 1fr 60px 1fr 80px 2fr 140px;

  width: 100%;
  max-width: 600px;
  margin-inline: auto;

  @media screen and (min-width: 1200px) {
    margin-inline: auto;
    max-width: var(--wgc-max-container-width);
  }

  &__header {
    display: flex;
    flex-direction: row;
    gap: var(--wgc-padding);
    justify-content: flex-end;
    margin-top: var(--wgc-gap);

    > label {
      width: fit-content;
    }

    select {
      font-size: var(--wgc-fs-sm);
      padding: 5px var(--wgc-padding);
      border-radius: 5px;
    }
  }

  .head {
    font-size: var(--wgc-fs-sm);
    font-weight: 700;
    font-variant: all-small-caps;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-align: left;

    grid-template-columns: var(--grid-template);
    grid-template-rows: auto;
    grid-column-gap: var(--wgc-padding);

    &Mobile {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .pool {
        text-align: left;
        // box padding + gap + arrow width (20px)
        margin-right: calc(var(--wgc-padding) * 2 + 20px);
      }

      @media screen and (min-width: 1200px) {
        display: none;
      }
    }

    &Desktop {
      display: none;
      @media screen and (min-width: 1200px) {
        display: grid;
      }
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    gap: var(--wgc-padding);
  }
}

.id {
  width: 50px;
}
.img {
  padding: 0;
}
.name {
  width: auto;
  min-width: 150px;
}
.pool {
  text-align: center;
  width: fit-content;
}
.gameType {
}
.players {
  text-align: center;
}
.dates {
}
.btn {
  justify-self: end;
}
.hcp {
}

.private {
  margin-top: var(--wgc-subsct-vert-margin);

  > .cards {
    display: flex;
    flex-direction: column;
    margin-top: var(--wgc-gap);
    gap: var(--wgc-margin);

    @media screen and (min-width: 1200px) {
      flex-direction: row;
    }

    > .card {
      width: 100%;
      background-color: var(--wgc-white);
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: var(--wgc-padding);
      border-radius: 30px;

      > p {
        padding-bottom: var(--wgc-padding);
      }

      > i {
        opacity: 0.5;
      }

      > ul {
        padding: 0;
        margin: 0;

        > li {
          list-style: none;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding-block: 5px;
        }
      }
    }
  }
}
