.hero {
  padding: var(--sct-def-margins);
  padding-top: calc(var(--navbar-height) + var(--lg));

  color: var(--white);

  display: flex;
  flex-direction: column;
  gap: var(--md);

  min-height: 500px;
  justify-content: center;

  background-color: var(--primary);

  .btns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: var(--sm);
    gap: var(--sm);
  }
}
