.hero {
  padding: var(--sct-def-margins);
  padding-top: calc(var(--navbar-height) + var(--lg));

  color: var(--white);

  display: flex;
  flex-direction: column;
  gap: var(--md);

  min-height: 500px;
  justify-content: center;

  background-color: var(--primary);

  &.gradientBg {
    background: radial-gradient(
      243.18% 192.81% at -59.25% 111.85%,
      rgba(var(--accent-rgb), 0.3) 0%,
      rgba(var(--primary-rgb), 0.3) 82.41%
    );

    // Avoid cutting the gradient with the next section
    margin-bottom: calc(-1 * var(--lg)) !important;
    padding-bottom: calc(var(--lg) * 2);
  }
}
