.howtoplay {
  display: flex;
  flex-direction: column;
  gap: var(--wgc-gap);
  align-items: center;
  max-width: var(--wgc-max-container-width);
  margin-inline: auto;
  justify-content: center;
  text-align: center;

  > .titles {
    max-width: 600px;
  }

  > ol {
    text-align: left;
    list-style: none;
    counter-reset: item;
    padding: 0;
    margin: 0;

    > li {
      counter-increment: item;
      margin-bottom: 5px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: var(--wgc-padding);
      align-items: center;

      border-bottom: solid 2px var(--wgc-primary);
      padding-block: 30px;
      margin: 0;

      @media screen and (min-width: 900px) {
        flex-wrap: nowrap;
      }

      &:before {
        margin-right: 10px;
        content: counter(item);
        background: var(--wgc-primary);
        border-radius: 100%;
        color: var(--wgc-white);
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1;
      }

      &:last-of-type {
        border: none;
      }

      > b {
        width: fit-content;
        @media screen and (min-width: 900px) {
          min-width: 210px;
        }
      }

      > span {
        width: 100%;
      }
    }
  }
}
