.leaderboard {
  background-color: var(--primary);
  color: var(--white);
  margin-inline: calc(var(--sct-horiz-margin) * -1);
  border-bottom-right-radius: var(--md);
  border-bottom-left-radius: var(--md);

  display: flex;
  flex-direction: column;
  gap: var(--md);
}

.rankingsSct {
  padding: var(--sct-def-margins);
  padding-top: 0;

  .rankings {
    width: 100%;
    border-collapse: collapse;

    > thead {
      color: var(--white);
      font-size: var(--fs-xs);
      text-transform: capitalize;
      display: flex;

      > tr {
        width: 100%;

        th {
          font-weight: 400;
        }
      }

      .name {
        width: 100%;
        text-align: left;
        padding-left: calc(20px + 50px); // PP width + gap
      }
    }

    > tbody {
      display: flex;
      flex-direction: column;
      gap: var(--xs);

      > tr {
        background-color: var(--black);
        color: var(--white);
        font-size: var(--fs-sm);
        border: solid 3px var(--black);
        border-radius: var(--sm);
        overflow: hidden;

        padding-right: var(--sm);

        > img {
          border-radius: var(--sm);
        }

        > td {
          &.pos {
            color: var(--accent);
          }
          &.name {
            width: 100%;
          }
          &.hcp {
            min-width: 36px;
            text-align: right;
          }
          &.score {
            min-width: 36px;
            text-align: right;
          }
        }
      }
    }

    tr {
      display: flex;
      flex-direction: row;
      gap: var(--sm);
      align-items: center;
    }
  }
}

.podiumSection {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: var(--sct-def-margins);
  padding-bottom: 0;
  gap: var(--lg);

  h2,
  small {
    color: var(--white);
  }

  .podium {
    display: flex;
    flex-direction: row;
    gap: var(--sm);
    width: 100%;
    align-items: flex-end;

    &Step {
      width: 100%;
      color: var(--black);
      background-color: var(--accent);
      border-radius: var(--sm);

      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      padding: var(--sm) var(--xs);
      padding-top: calc(var(--sm) + 18px);
      justify-content: space-around;

      gap: var(--xs);

      > .rank {
        width: 24px;
        height: 24px;
        font-size: var(--fs-s);
        font-weight: 500;

        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--black);
        border-radius: 100%;
        line-height: 1em;
        color: var(--white);
      }

      > h5 {
        font-size: var(--fs-s);
        font-weight: 700;
        word-break: break-all; // DEV : maybe column design ?
        margin-bottom: var(--xs);

        .flag {
          display: none;
        }
      }

      > p {
        margin: 0;
        font-size: var(--fs-xs);
        font-weight: 500;
        line-height: 1em;

        &:first-of-type {
          font-size: var(--fs-h4);
          font-family: var(--fontfamily-titles);
          font-weight: 700;
        }
      }

      > img {
        position: absolute;
        border-radius: var(--xs);
        top: -18px;

        object-fit: cover;
        width: 36px;
        height: 36px;
      }

      &.first {
        order: 2;
        min-height: 200px;

        h5 {
          margin-bottom: var(--md);
        }
      }

      &.second {
        order: 1;
        min-height: 180px;

        h5 {
          margin-bottom: var(--sm);
        }
      }

      &.third {
        order: 3;
        min-height: 160px;
      }
    }
  }
}
