.section {
  display: flex;
  flex-direction: column;
  gap: var(--md);

  .challenges {
    display: flex;
    flex-direction: column;
    gap: var(--sm);

    @media screen and (min-width: 900px) {
      align-items: center;
    }

    @media screen and (min-width: 1200px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .btns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--sm);

    @media screen and (min-width: 900px) {
      justify-content: center;
    }
  }
}
