.moneyPool {
  background-color: var(--black);
  border-radius: var(--sm);
  color: var(--white);
  position: relative;

  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

  > small {
    position: absolute;
    color: var(--accent);
    top: var(--sm);
  }

  > h3 {
    font-size: 32px;
  }

  & + small {
    opacity: 0.7;
  }
}

.pricesPreview {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--sm);
  border-radius: var(--sm);
  padding: var(--sm);
  background-color: var(--black);
  justify-content: center;
  align-items: center;
  position: relative;

  padding-top: calc(var(--fs-sm) + var(--sm) * 2);

  @media screen and (min-width: 900px) {
    gap: var(--md);
  }

  transition: all 0.3s ease-in-out;

  &:hover {
    transform: translateY(-4px);
    box-shadow: var(--shadow-hover);
    transition: all 0.3s ease-in-out;
  }

  > small {
    position: absolute;
    color: var(--accent);
    top: var(--sm);
  }

  .price {
    max-width: calc((100% - var(--sm) * 2) / 3);
    color: var(--accent);
    display: flex;
    flex-direction: column;

    text-align: center;
    gap: var(--sm);
    align-items: center;

    img {
      height: 50px;
      width: auto;
      aspect-ratio: 1;
      object-fit: contain;

      @media screen and (min-width: 900px) {
        height: 72px;
      }
    }

    small {
      color: var(--white);
    }
  }
}

.pricePool {
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: var(--md);

  > .prices {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--md) var(--sm);
    align-items: center;
    justify-content: center;

    > .price {
      width: 100%;
      max-width: calc((100% - var(--sm)) / 2);

      display: flex;
      flex-direction: column;
      border-radius: var(--sm);
      outline: solid 1px var(--grey);
      overflow: hidden;

      @media screen and (min-width: 900px) {
        max-width: calc((100% - var(--sm) * 3) / 4);
      }

      > img {
        width: 100%;
        height: auto;
        aspect-ratio: 3/2; // Idem to Sponsor Preview
        object-fit: cover;
      }

      > .texts {
        display: flex;
        flex-direction: column;
        padding: var(--sm);
        align-items: flex-start;
      }
    }
  }
}
