.sctTitles {
  color: var(--wgc-black);
  max-width: var(--wgc-max-block-width);
  display: flex;
  flex-direction: column;
  gap: var(--wgc-margin);

  > p {
    opacity: 0.7;
    text-wrap: balance;
    text-wrap: pretty;
  }
}
