.section {
  background-color: var(--white);
  justify-content: center;
  gap: var(--s-s);

  > ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--s-s);
    list-style-type: none;

    > li {
      width: calc((100% - var(--s-s)) / 2);

      > a {
        display: flex;
        flex-direction: column;
        background-color: var(--black);
        border-radius: var(--s-s);
        overflow: hidden;
        color: var(--white);
        outline: 1px solid var(--black);

        &:hover {
          color: var(--primary);
          background-color: var(--white);

          > .texts h4 {
            color: var(--black);
            transition: color 0.3s ease-in-out;
          }
        }

        img {
          width: 100%;
          height: auto;
          max-height: 120px; // DEV : TBC
          object-fit: cover;
        }

        > .texts {
          padding: var(--s-s);
          display: flex;
          flex-direction: column;
          gap: 2px;

          h4 {
            color: var(--accent);
            transition: color 0.3s ease-in-out;
          }

          small {
            font-size: 14px;
          }
        }
      }
    }
  }
}
