.clubhouse {
  padding-top: var(--sct-vert-margin) !important;
  background-color: var(--white);
  border-radius: var(--md);

  max-width: var(--max-container-width);
  margin-inline: auto;

  .challenges {
    display: flex;
    flex-direction: column;
    gap: var(--sm);
    align-items: center;

    @media screen and (min-width: 1200px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &PricePool {
    max-width: var(--max-paragraph-width);
    margin-inline: auto;
  }
}

.homeCTAs {
  padding: var(--sct-def-margins);
  display: flex;
  flex-direction: column;
  gap: var(--md);

  @media screen and (min-width: 900px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.homeBtn {
  margin-inline: auto;
}
