* {
  --white: #fafafa;
  --true-white: #fff;

  --bg-color: var(--white);

  --grey: #efeef2;
  // --dark-grey: #797979;
  --black: #0a1a11;
  --black-rgb: 10, 26, 17;

  --primary: #002f18;
  --primary-rgb: 0, 47, 24;

  --secondary: #c7f7fd; // TBC
  --accent: #c8f843;
  --accent-rgb: 200, 248, 67;

  --gradient: linear-gradient(45deg, var(--accent) 0%, var(--primary) 100%);
  --gradient-challenge: linear-gradient(77deg, var(--black) 0.89%, var(--primary) 100%);

  --gold: linear-gradient(132deg, #ffd700 6.6%, #ffb800 100.54%);
  --silver: linear-gradient(131deg, #c0c0c0 6.65%, #e4e4e4 90.1%);
  --bronze: linear-gradient(135deg, #cd7f32 5.18%, #f9a620 96.65%);

  --danger: #d33232;
  --warning: #d38932;
  --info: #327cd3;
  --success: #23ad29;

  --shadow-hover: 3px 3px 8px 0px rgba(0, 0, 0, 0.25);
  --shadow-clicked: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  --shadow-img: 0px 36px 20px -20px rgba(62, 85, 65, 0.25);
  --shadow-card: 0px 12px 16px -20px rgba(62, 85, 65, 0.15);
  --shadow-card-sm: 0px 4px 12px 0px rgba(51, 67, 54, 0.1);

  --fs-p: 16px;
  --fs-sm: 12px;
  --fs-xs: 10px;

  --fs-h1: 28px;
  --fs-h2: 24px;
  --fs-h3: 20px;
  --fs-h4: 12px;
  --fs-h5: 18px;
  --fs-h6: var(--fs-xs);

  @media screen and (min-width: 1200px) {
    --fs-p: 18px;
    --fs-sm: 15px;
    --fs-xs: 12px;

    --fs-h1: 42px;
    --fs-h2: 28px;
    --fs-h3: 22px;
    --fs-h4: 15px;
    --fs-h5: 18px;
    --fs-h6: var(--fs-xs);
  }

  // Testing new spacing system
  --xs: 6px;
  --sm: calc(var(--xs) * 2);
  --md: calc(var(--sm) * 2);
  --lg: calc(var(--md) * 2);
  --xl: calc(var(--lg) * 2);

  @media screen and (min-width: 900px) {
    // --md: 36px;
  }

  --sct-vert-margin: var(--lg);
  --subsct-vert-margin: var(--md);
  --sct-horiz-margin: var(--sm);
  --sct-def-margins: var(--sct-vert-margin) var(--sct-horiz-margin);

  @media screen and (min-width: 900px) {
    --sct-horiz-margin: var(--md);
  }

  @media screen and (min-width: 1200px) {
    --sct-horiz-margin: var(--lg);
  }

  --navbar-height: 70px;
  --side-menu-width: 0px;

  --fullscreen-height: calc(100vh - var(--navbar-height) - var(--lg) - var(--lg));
  --fullscreen-height: calc(100svh - var(--navbar-height) - var(--lg) - var(--lg));

  --max-large-container-width: 1600px;
  --max-container-width: 1500px;
  --max-block-width: 600px;
  --max-paragraph-width: 720px;
  --max-card-width: 400px;

  @media screen and (min-width: 1200px) {
    --navbar-height: 0px;
    --side-menu-width: 250px;
    --max-paragraph-width: 780px;
  }

  @media screen and (min-width: 1400px) {
    --side-menu-width: 320px;
  }
}

/*
@media screen and (min-width: 900px) {
  * {
    --fs-h1: 60px;
    --fs-h2: 45px;
    --fs-h3: 32px;
    --fs-h4: 26px;
    --fs-h5: 24px;
    --fs-h6: 16px;
    --fs-p: 18px;
    --fs-sm: 14px;

    --margin: 20px;
    --padding: 15px;

    --sct-vert-margin: 100px;
    --sct-horiz-margin: 50px;

    --navbar-height: 100px;
    --max-block-width: 800px;
  }
}

@media screen and (min-width: 1200px) {
  * {
    --margin: 20px;
    --padding: 15px;

    --navbar-height: 120px;
    --max-block-width: 1200px;
  }
}
*/
